<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>新闻页</title>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<style>
body{background-color:#2b2b2b;width:100%}
iframe{background-color:#fff;}
div{width:360px;margin:auto}
</style>
  </head>
  <body>
<div>
<iframe width="360" align="center" height="auto" id="win" name="win" frameborder="0" scrolling="auto" src="/Home/Index/page?id={$news_id}"></iframe> 
</div>
<script>
$().ready(function(){
    var height = $(window).height() - 20;
    $("#win").height(height);
});
</script>
  </body>
</html>


