<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{$title} - Auto Daily Dashboard</title>
    <include file="common:header" />
  </head>
  <body>
    <include file="common:nav" />
    <div class="container-fluid">
      <div class="row">
      <include file="common:menu" />
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header">{$title}</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>标题</th>
                  <th>日期</th>
                  <th>来源</th>
                  <th>分类</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <foreach name="list" item="vo">
                <tr id="row_{$vo.id}">
                  <td>{$vo.id}</td>
                  <td><if condition="$vo.title_pic1 neq ''"><a href="/Admin/Index/page?id={$vo.id}" target="_blank"><img src="{$vo.title_pic1}" height="70px;"/></a></if><if condition="$vo.title_pic2 neq ''">&nbsp;<a href="/Admin/Index/page?id={$vo.id}" target="_blank"><img src="{$vo.title_pic2}" height="70px;"/></a></if><if condition="$vo.title_pic3 neq ''">&nbsp;<a href="/Admin/Index/page?id={$vo.id}" target="_blank"><img src="{$vo.title_pic3}" height="70px;"/></a></if><br/><a href="/Admin/Index/page?id={$vo.id}" target="_blank">{$vo.title}</a>
                  </td>
                  <td>{$vo.story_date}</td>
                  <td>{$vo.source}</td>
                  <td>
<select class="form-control" style="width:100px">
<option value="0">请选择</option>
<foreach name="catelist" item="row">
<option value="{$row.id}">{$row.name}</option>
</foreach>
</select>
                 </td>
                  <td>
                  <if condition="$action eq 'story'">
                  <a href="{$vo.id}">上推</a>
                  </if>
                  <if condition="$action eq 'choice'">
                  <a href="{$vo.id}">删除</a>
                  </if>
                  <if condition="$action eq 'catenews'">
                  <a href="###" storyid="{$vo.id}" class="cate">保存</a>
                  </if>
                  </td>
                </tr>
                </foreach>
              </tbody>
            </table>
<include file="common:page" />
          </div>
        </div>
      </div>
    </div>
    
<include file="common:footer" />
<script>
$().ready(function(){
    $(".cate").click( function () { 
        var storyid = $(this).attr("storyid");
        var cateid = $(this).parent().parent().find('select').eq(0).val();
        if(cateid == 0){
            alert('请选择分类');
            return false;
        }
        
        $.post("/Admin/Index/saveStoryCate", { story_id: storyid, cate_id: cateid },
            function(data){
                var tr_id = 'row_'+storyid;
                if(data == 'succ'){
                    $('#'+tr_id).hide();
                }else{
                    alert('操作失败！');
                }
            });
    });
});
</script>
  </body>
</html>