<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{$title} - Auto Daily Dashboard</title>
    <include file="common:header" />
  </head>
  <body>
    <include file="common:nav" />
    <div class="container-fluid">
      <div class="row">
      <include file="common:menu" />
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header">{$title}</h1>
          <div class="table-responsive">
          <if condition="$action eq 'choice'">
          <div>
            <div class="col-lg-1"><h4>分类：</h4></div>
          	<div class="col-lg-2">
          		<select class="form-control selectCate">
          			<option value="-1">全部</option>
          			<option value="0" <if condition="$Think.GET.cateid eq 0">selected="selected"</if> >未分类</option>
          			<volist name="catelist" id="vo" key="$key">
						<option value="{$key}" <if condition="$Think.GET.cateid eq $key">selected="selected"</if> >{$vo}</option>
					</volist>
          		</select>
          	</div>
            <div class="col-lg-1"><a class="btn btn-primary" href="/Admin/Index/addNews">添加新闻</a></div>
          </div>
          </if>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>标题</th>
                  <th>日期</th>
                  <th>来源</th>
                  <th>分类</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <foreach name="list" item="vo">
                <tr id="row_{$vo.id}">
                  <td>{$vo.id}</td>
                  <!-- <td><if condition="$vo.title_pic1 neq ''"><a href="{$vo.title_pic1}" target="_blank"><img src="{$vo.title_pic1}" height="70px;"/></a></if><if condition="$vo.title_pic2 neq ''">&nbsp;<a href="{$vo.title_pic2}" target="_blank"><img src="{$vo.title_pic2}" height="70px;"/></a></if><if condition="$vo.title_pic3 neq ''">&nbsp;<a href="{$vo.title_pic3}" target="_blank"><img src="{$vo.title_pic3}" height="70px;"/></a></if><br/><a class="link" href="###" linkname="/Home/Index/page?id={$vo.id}">{$vo.title}</a> -->
                  <td>
	                  <if condition="$vo.title_pic1 neq ''">
	                  	<img src="{$vo.title_pic1}" height="70px;"/>
	                  </if>
	                  <if condition="$vo.title_pic2 neq ''">
	                  	&nbsp;<img src="{$vo.title_pic2}" height="70px;"/>
	                  </if>
	                  <if condition="$vo.title_pic3 neq ''">
	                  	&nbsp;<img src="{$vo.title_pic3}" height="70px;"/>
	                  </if><br/>
	                  <if condition="$action eq 'story'">
                  	  	<a href="{$vo.url}" target="_blank">{$vo.title}</a>
                  	  <else/>
                  	  <a class="link" href="###" linkname="/Home/Index/page?id={$vo.id}">{$vo.title}</a>
                  	  	
                  	  </if>
                  </td>
                  <td>{$vo.story_date}</td>
                  <td><a href="/Admin/Index/news?type=source&sourceid={$vo.source_id}">{$vo.source}</a></td>
                  <td>
                  	<if condition="$action eq 'choice'">
                		{$vo.colunm_catename}
					<else/>
						<select class="form-control" class="cate" style="width:100px">
						<option value="0">请选择</option>
						<foreach name="catelist" item="row">
						<option value="{$cid=$row.id}" <if condition='$vo.column_id eq $cid'>selected</if> >{$row.name}</option>
						</foreach>
						</select>
					</if>
                 </td>
                  <td>
                  <if condition="$action eq 'story'">
                  <a href="###" nid="{$vo.id}" class="upStory">上推</a>
                  </if>
                  <if condition="$action eq 'choice'">
                  <a class="delete btn btn-danger" id="{$vo.id}" data-toggle="modal" data-target=".bs-example-modal-lg" href="#">删除</a>
                  <a  class="btn btn-primary" href='/Admin/Index/news_reply?news_id={$vo.id}'>评论</a>
                  <if condition="$vo.comments_count gt 0">
                  	<a  class="btn btn-primary" href='/Admin/Index/news_reply_list?news_id={$vo.id}&is_robot=all' target="_blank">查看评论({$vo.comments_count})</a>
                  </if>
                  </if>
                  <if condition="$action eq 'catenews'">
                  <a href="###" storyid="{$vo.id}" class="cate">保存</a>
                  </if>
                  </td>
                </tr>
                </foreach>
              </tbody>
            </table>
<include file="common:page" />
          </div>
        </div>
      </div>
      		<div class="modal fade bs-example-modal-lg" id="news_model" style="margin-top:10%;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
				     <div class="container-fluid">
				    	<div class="row">
				    		<div class="col-md-4 col-md-offset-4" >&nbsp;</div>
				    		<div class="col-md-4 col-md-offset-4" ><h3>您确定要删除该新闻？</h3></div>
				    		<div class="col-md-4 col-md-offset-4" >&nbsp;</div>
				    	</div>
				    	<div class="row">
				    		<div class="col-md-2 col-md-offset-4">
				    			<button class="btn btn-primary" id="ok">确定</button>	
				    		</div>
				    		<div class="col-md-2">
				    			<button id="cancel" class="btn btn-default" data-dismiss="modal" type="button">取消</button>
				    		</div>
				    		<div class="col-md-4 col-md-offset-4" >&nbsp;</div>
				    	</div>			    
				    </div>
			    </div>
			  </div>
			</div>
    </div>
    
<include file="common:footer" />
  </body>
</html>
<script>
$().ready(function(){
	//根据分类筛选新闻
	$(".selectCate").change(function(){
		var cateId = $(this).val();
		if( cateId != '' ) {
			window.location.href = "/Admin/Index/news?type=choice&cateid=" + cateId;
		}else{
			alter('分类id不能为空');
		}
	});
	
    $(".cate").click( function () { 
        var storyid = $(this).attr("storyid");
        var cateid = $(this).parent().parent().find('select').eq(0).val();
        if(cateid == 0){
            alert('请选择分类');
            return false;
        }
        
        $.post("/Admin/Index/saveStoryCate", { story_id: storyid, cate_id: cateid },
            function(data){
                var tr_id = 'row_'+storyid;
                if(data == 'succ'){
                    $('#'+tr_id).hide();
                }else{
                    alert('操作失败！');
                }
        });
    });
    
    //删除新闻
    $(".delete").click(function(){
    	var id = $(this).attr("id");
    	$('#ok').val(id);
    });
    
    $("#ok").click(function(){
    	var id = $(this).val();
    	
    	if( id != null && id != '' && id != undefined  ) {
    		$.post("/Admin/Index/deleteNews", { action:'deleteNews', id:id },
    			function(res){
    				if( res.status == 'success' ) {
    					$("#row_" + id).remove();
    				}else if( res.status == 'error' ) {
    					alert( res.message );
    				}else{
    					
    				}
    				
    				$('#news_model').modal('hide');
    			}	
    		);
    	}
    });
    
    $('.link').click(function(){
    	var link = $(this).attr('linkname');
    	window.open(link,'','width=360,height=640,scrollbars=yes');
    });
    
    $(".upStory").click(function(){
    	var id = $(this).attr('nid');
    	var cate_id = $(this).parent().prev().children().val();
    	
    	$.ajax({
    		 type: "POST",
    		 url: "/Admin/Index/newsUpStory",
    		 data: { id: id, action: "newsUpStory",cate_id:cate_id },
    		 success: function(res){
    			 if( res.status == 'success' ) {
    				 $("#row_"+id).remove();
    			 }else{
    				 alert(res.message);
    			 }
    		 } 
    	})
    });
    
});
</script>