<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{$title} - Auto Daily Dashboard</title>
    <include file="common:header" />
  </head>
  <body>
    <include file="common:nav" />
    <div class="container-fluid">
      <div class="row">
      <include file="common:menu" />
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header">{$sourcename}</h1>
          <div class="table-responsive">        
        	<table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>标题</th>
                  <th>日期</th>
                  <th>来源</th>
                  <th>分类</th>
                  <th>操作</th>
                </tr>
              </thead>
              <empty name="list">
              		<tr><h2>该来源没有新闻</h2></tr>
              	<else />
             	<tbody id="news">
              	
                <foreach name="list" item="vo">
                <tr id="row_{$vo.id}">
                  <td>{$vo.id}</td>
                  <td><if condition="$vo.title_pic1 neq ''"><img src="{$vo.title_pic1}" height="70px;"/></if><if condition="$vo.title_pic2 neq ''">&nbsp;<img src="{$vo.title_pic2}" height="70px;"/></if><if condition="$vo.title_pic3 neq ''">&nbsp;<img src="{$vo.title_pic3}" height="70px;"/></if><br/><a class="link" href="###" linkname="/Home/Index/page?id={$vo.id}">{$vo.title}</a>
                  </td>
                  <td>{$vo.story_date}</td>
                  <td>{$vo.source}</td>
                  <td>
                	  {$vo.colunm_catename}
                 </td>
                  <td>
                  <a class="delete btn btn-danger" id="{$vo.id}" data-toggle="modal" data-target=".bs-example-modal-lg" href="#">删除</a>
                  <a  class="btn btn-primary" href='/Admin/Index/news_reply?news_id={$vo.id}' target="_blank">评论</a>
                  <if condition="$vo.comments_count gt 0">
                  	<a  class="btn btn-primary" href='/Admin/Index/news_reply_list?news_id={$vo.id}&is_robot=all' target="_blank">查看评论({$vo.comments_count})</a>
                  </if>
                  </td>
                </tr>
                </foreach>
              </tbody>
              </empty>
            </table>
            <div class="col-lg-1 col-lg-offset-5" id="getMore"><button class="btn btn-primary" >加载更多</button></div>
          </div>
        </div>
      </div>
      
      		<div class="modal fade bs-example-modal-lg" id="news_model" style="margin-top:10%;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
				     <div class="container-fluid">
				    	<div class="row">
				    		<div class="col-md-4 col-md-offset-4" >&nbsp;</div>
				    		<div class="col-md-4 col-md-offset-4" ><h3>您确定要删除该新闻？</h3></div>
				    		<div class="col-md-4 col-md-offset-4" >&nbsp;</div>
				    	</div>
				    	<div class="row">
				    		<div class="col-md-2 col-md-offset-4">
				    			<button class="btn btn-primary" id="ok">确定</button>	
				    		</div>
				    		<div class="col-md-2">
				    			<button id="cancel" class="btn btn-default" data-dismiss="modal" type="button">取消</button>
				    		</div>
				    		<div class="col-md-4 col-md-offset-4" >&nbsp;</div>
				    	</div>			    
				    </div>
			    </div>
			  </div>
			</div>
    </div>
    
<include file="common:footer" />
<script>
$().ready(function(){
	var href = window.location.href;
	var sourceIdStr = new String;
	sourceIdStr = href.match(/sourceid=\d+/ig);
	
	if( sourceIdStr != null ) {	
		var getSourceId = sourceIdStr.toString().substr(9);
	}
	
	var page = 2;

	$("#getMore").click(function(){
		var $btn = $(this).button('loading');
		$.get(
				"/Admin/Index/getNewsBySourceId", 
				{ sourceId: getSourceId, page: page } ,
				function($data){
					page++;
					$('#news').append($data);
					
					$btn.button('reset');

				}
		);
	});
	
	/*
	根据来源查询新闻
	var href = window.location.href;
	var cateIdStr = new String;
	cateIdStr = href.match(/cateid=\d+/ig);
	
	if( cateIdStr != null ) {	
		var getCateId = cateIdStr.toString().substr(7);
		$(".selectCate").val(getCateId);
	}
	
	
	//根据分类筛选新闻
	$(".selectCate").change(function(){
		var cateId = $(this).val();
		if( cateId != '' ) {
			window.location.href = "/Admin/Index/news?type=choice&cateid=" + cateId;
		}else{
			alter('分类id不能为空');
		}
	});
	*/
    
    //删除新闻
    $(".delete").click(function(){
    	var id = $(this).attr("id");
    	$('#ok').val(id);
    });
    
    $("#ok").click(function(){
    	var id = $(this).val();

    	if( id != null && id != '' && id != undefined  ) {
    		$.post("/Admin/Index/deleteNews", { action:'deleteNews', id:id },
    			function(res){
    				if( res.status == 'success' ) {
    					$("#row_" + id).remove();
    				}else if( res.status == 'error' ) {
    					alert( res.message );
    				}else{
    					
    				}
    				
    				$('#news_model').modal('hide')
    			}	
    		);
    	}
    });
    
    $('.link').click(function(){
    	var link = $(this).attr('linkname');
    	window.open(link,'','width=360,height=640,scrollbars=yes')
    });
});
</script>
  </body>
</html>