<!doctype html>
<html lang="en">
<head>
<!-- <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"> -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no"/>
<meta name="viewport" content="target-densitydpi=device-dpi,width=750">
<meta charset="UTF-8">
<title>{$_PAGE['title']}</title>
<link rel="stylesheet" href="/Public/css/style.css">
<script src="/Public/js/jquery.js"></script>
</head>
<body style="font-size:36px;background:#fafafa;">
<div class="news_cont">
    <div class="news_title">
        <h1>{$info.title}</h1>
        <p><span>{$info.source}</span><span>{$info.story_date}</span></p>
    </div>
    <div class="content">
    {$page}
    </div>
</div>
<div class="line"></div>
<div class="comment">
    <h4><span>热门评论</span></h4>
    <if condition="$comments">
    <ul class="com_box">
        <foreach name="comments" item="vo">
        <li>
            <div class="head_img"><img src="{$vo.userphoto}" alt="{$vo.username}"></div>
            <div class="com_cont">
                <div class="user_name">{$vo.username}</div>
                <p>{$vo.post}</p>
                <span class="dianzan">
                    <span>{$vo.like_count}</span>
                    <a href="#" class="hand"></a>
                </span>
            </div>
        </li>
        </foreach>
    </ul>
    <else/>
    暂无评论
    </if>
</div>
<div class="line"></div>
<div class="other_news">
    <h4><span>相关新闻</span></h4>
    <ul class="x_news">
        <foreach name="relates" item="vo">
        <li><a href="/Home/Index/page?id={$vo.id}">{$vo.title}</a></li>
        </foreach>
    </ul>
</div>
</body>
</html>